{% load url from future %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'index' %}">Chirpr</a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                    <li><a class="disabled"><i class="icon-user icon-white"></i> {{ user.username }}</a></li>
                    <li><a href="{% url 'chirp' %}">Chirp!</a></li>
                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'registration_register' %}">Sign up</a></li>
                    <li><a href="{% url 'auth_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
